@model IEnumerable<Actividad_3_Navegacion_Paginas_web.Models.Villancico>
@{
    Layout = "_Layout";
}

<ul>
    @foreach (var villancico in Model)
    {
        <li><a href="~/Home/Informacion/@villancico.Id">@villancico.Nombre</a></li>
    }
</ul>
