<html>
<head>
    <title>Ejercicio 1 de Programación Web</title>
   <link href="~/estilos.css" rel="stylesheet">
</head>
<body>
    <h1>Programación Web</h1>
    <h3>Unidad 2: Vista de MVC</h3>
    <h3>Nayla A. Garcia Mireles  7.1G</h3>
    @RenderBody()
    
    <footer>        
        <h5>@DateTime.Now.ToLongDateString()</h5>
    </footer>
</body>

</html>

